<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consulta Fipe</title>

    <link rel="stylesheet" href="css/style.css">
</head>
<body>

    <div id="wrapper">
        <div id="conteiner-fipe" class='container-fipe'>
            <div id="title-div">
                <h1 style="text-align: center;color: rgb(255, 122, 0);">Consulta de Tabela Fipe</h1>
            </div>
            
            <div id = "content-div">
                <div id="forms-div">
                    <p style="text-align: center;font-weight: 600;">Entre com os valores de busca</p>

                    <form id="form-fipe" action="#" autocomplete="off" >
                        <div id="form-inputs">
                            <label for="datalist-tipos">Tipo do Veículo</label><br>
                            <input required class="datalist" list="datalist-tipos" id="input-datalist-tipos" placeholder="Digite e selecione um valor">
                            <datalist id="datalist-tipos">
                                <option value="Carro">
                                <option value="Moto">
                                <option value="Caminhão">
                            </datalist>
                            <br>
        
                            <label for="datalist-marcas">Marca</label><br>
                            <input required class="datalist" list="datalist-marcas" id="input-datalist-marcas" placeholder="Digite e selecione um valor">
                            <datalist id="datalist-marcas"></datalist>
                            <br>
        
                            <label for="datalist-modelos">Modelo</label><br>
                            <input required class="datalist" list="datalist-modelos" id="input-datalist-modelos" placeholder="Digite e selecione um valor">
                            <datalist id="datalist-modelos"></datalist>
                            <br>
        
                            <label for="datalist-anos">Ano</label><br>
                            <input required class="datalist" list="datalist-anos" id="input-datalist-anos" placeholder="Digite e selecione um valor">
                            <datalist id="datalist-anos"></datalist>
                            <br>
                        </div>

                        <div id="form-submit">
                            <input type="submit" value="Buscar">
                        </div>
                    </form>
                </div>

                <div id="result-div">
                    <p style="text-align: center;font-weight: 600;">Resultado da busca</p>
                    <table id="result-fipe"></table>
                </div>
            </div>
        </div>

        <a id="home-fixed" href="../">HOME</a>
    </div>
    
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="javascript/script.js"></script>
</body>
</html>