<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Inter. Simplifica a vida.</title>
        <link rel="icon" type="image/x-icon" href="images/icon.png">
        <link rel="stylesheet" href="css/style.css">
    </head>

    <body>
        <div id="wrapper">
            <div id="TopDiv">
                <div id="TopDiv-Container">
                    <div id="TopDiv-Container-left">
                        <p style="text-align: center;">
                            <strong>Conquiste sua casa nova com o <span style="color: rgb(255, 122, 0);">Financiamento Imobiliário Inter</span></strong>
                        </p>
                    </div>

                    <div id="TopDiv-Container-right">
                        <div id="div-simulacao">
                            <a id="link-simulacao">
                                <strong class="desktop">Fazer simulação</strong> <strong class="mobile">Simular</strong>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <header>
                <div id="header-cointainer">
                    <div id="header-container-logo">
                        <a href="https://www.bancointer.com.br/"><img src="images/logo.png" alt="logo"></a>
                    </div>

                    <div id="header-container-nav">
                        <nav>
                            <ul id="nav-menu">
                                <li><a href="" class="nav-menu-item">
                                        O Inter
                                        <img src="images/icone-menu-item.png" style="width: 14px;">
                                    </a>
                                </li>
                                <li><a href="" class="nav-menu-item">
                                        Pra Você
                                        <img src="images/icone-menu-item.png" style="width: 14px;">
                                    </a>
                                </li>
                                <li><a href="" class="nav-menu-item">
                                        Empresas
                                        <img src="images/icone-menu-item.png" style="width: 14px;">
                                    </a>
                                </li>
                                <li><a href="" class="nav-menu-item">
                                        Blog
                                    </a>
                                </li>
                                <li><a href="" class="nav-menu-item">
                                        Portal RI
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>

                    <div id="header-container-utility">
                        <div id="utility-conta">
                            <button id= "utility-conta-botao">Abra a sua conta</button>

                            <div>
                                <button id="utility-conta-acessar">Acessar</button>
                            </div>

                            <div id="utility-conta-bandeira">
                                <a href=""><img src="images/brasil.png" alt="pt-BR" style="height: 15px;"></a>
                                <a href=""><img src="images/eua.jpeg" alt="en-USA" style="height: 15px;"></a>
                            </div>
                        </div>
                    </div>    
                </div>
            </header>

            <main>
                <div id="main-container">
                    <div id="main-container-left">
                        <div>
                            <img src="images/banner-mes-consumidor.png" alt="banner" style="width: 100%">
                        </div>

                        <div class="main-container-left-items">
                            <img src="images/icone1.png" alt="icone1" style="height: 24px;width: 24px;">
                            <p class="p-main-items">
                                <strong>Até 80% de desconto e até 30% de cashback</strong>
                            </p>
                        </div>

                        <div class="main-container-left-items">
                            <img src="images/icone2.png" alt="icone2" style="height: 24px;width: 24px;">
                            <p class="p-main-items">
                                <strong>Ofertas a partir de R$ 9,90</strong>
                            </p>
                        </div>

                        <div class="main-container-left-items">
                            <img src="images/icone3.png" alt="icone3" style="height: 24px;width: 24px;">
                            <p class="p-main-items">
                                <strong>Frete grátis pra várias regiões</strong>
                            </p>
                        </div>

                        <div class="main-container-left-items">
                            <img src="images/icone4.png" alt="icone4" style="height: 24px;width: 24px;">
                            <p class="p-main-items">
                                <strong>Mega Live com ofertas surpresas</strong>
                            </p>
                        </div>

                        <div class="main-container-left-items">
                            <img src="images/icone5.png" alt="icone5" style="height: 24px;width: 24px;">
                            <p class="p-main-items">
                                <strong>Pagamento em até 15x sem juros</strong>
                            </p>
                        </div>

                        <div class="main-container-left-items">
                            <img src="images/icone6.png" alt="icone6" style="height: 24px;width: 24px;">
                            <p class="p-main-items">
                                <strong>E muito mais! Confira a seguir.</strong>
                            </p>
                        </div>

                        <a id="link-aproveitar" href="https://www.bancointer.com.br/mes-do-consumidor/" target="_blank"> Aproveitar agora</a>
                    </div>

                    <div id="main-container-right">
                        <div style="position: relative;">
                            <button id="button-central-ajuda">
                                <img src="https://www.bancointer.com.br/Home/images/babi-profile.png" alt="babi" style="height: 34px;width: 34px;">
                                <p style="margin: 16px;">Central de Ajuda</p>
                                <img src="images/icone-central-ajuda.png" alt="icone-central-ajuda" style="width: 16px;">
                            </button>
                        </div>

                        <img src="images/pessoa-comprando.png" alt="pessoa" style="height: 55rem;">
                    </div>
                </div>
            </main>

            <button id="conta-fixed">
                ABRIR CONTA GRATUITA
            </button>

            <div id="conteiner-funcionalidades" class='container-funcionalidades'>
                <div id="title-div">
                    <h1 style="text-align: center;color: rgb(255, 122, 0);">Funcionalidades</h1>
                </div>
                
                <div id = "content-div">
                    <a class="link-funcionalidades" href="/fipe">Consulta Fipe</a>
                    <a class="link-funcionalidades" href="/publicacoes">Publicações</a>
                    <a class="link-funcionalidades" href="/users">Perfis de Usuários</a>
                </div>
            </div>
        </div>
    </body>
</html>