<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consulta Fipe</title>

    <link rel="stylesheet" href="/css/publicacoes_index.css">
</head>
<body>

    <div id="wrapper">
        <div id="conteiner-funcionalidades" class='container-funcionalidades'>
            <div id="title-div">
                <h1 style="text-align: center;color: rgb(255, 122, 0);">Funcionalidades</h1>
            </div>
            
            <div id = "content-div">
                <a class="link-funcionalidades" href="/publicacoes/busca">Buscar Publicações</a>
                <a class="link-funcionalidades" href="/publicacoes/nova">Nova Publicação</a>
            </div>
        </div>
    </div>

    <a id="home-fixed" href="../">HOME</a>

</body>
</html>